* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  color: hsl(17, 45%, 64%);
  background-color: hsl(8, 11%, 92%);
  background-image: url("plantsbw.jpg")
}

h2 {
  font-size: 34px;
  text-align: justify;
  text-justify: inter-word;
}

h3 {
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  width: 430px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: hsl(17, 51%, 67%);
}

.content {
  text-align: justify;
  text-justify: inter-word;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}
