* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  color: hsl(17, 45%, 64%);
  background-color: hsl(8, 11%, 92%);
}

h2 {
  font-size: 34px;
  text-align: justify;
  text-justify: inter-word;
}

h3 {
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
  width: 430px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: hsl(17, 51%, 67%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
  background: #efefef;
  position: relative;
  font-size: 0;
  line-height: 0;
}

.words h1 span:hover {
  color: salmon;
}

.begin h1 span:hover {
  color: salmon;
}

@keyframes spin {
  0% {
    border-top-color: hsl(221, 7%, 94%);
  }
  100% {
    border-top-color: transparent;
  }
}

.shape {
  width: 0;
  height: 0;
  border-top: 800px solid hsl(221, 4%, 88%);
  border-left: 60px solid transparent;
  margin: 0;
  display: inline-block;
  transition: all 2s;
  animation-name: spin;
  animation-duration: 3s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

.shape-interaction {
  transform: rotate(450deg);
}